.container
    .header-logo
        img(src="../../assets/images/logo/logo.png", alt="Лого")
    .header-search
        .header-search__string
            span Введите название товара
        .header-search__button
            img(src="../../assets/images/icon/search.svg", alt="Поиск   ")

    .header-delivery.button
        span Доставка
    .header-help
        img(src="../../assets/images/icon/help.png", alt="Помощь")
    .header-list-phone
        .header-list-phone__main +7 (495) 775-27-67
        .header-list-phone__additional +7 (495) 983-30-49
        .header-list-phone__icon
            img(src="../../assets/images/icon/draw.svg", alt="Показать телефон")
    .header-shopping-cart.button
        .header-shopping-cart__icon
            img(src="../../assets/images/icon/shopping.svg", alt="Корзина")
        .header-shopping-cart__text Корзина:
        .header-shopping-cart__number-of-orders 0
    .header-personal-account
        img(src="../../assets/images/icon/user.svg", alt="Вход в аккаунт")

