

@import "../components/header/header.scss";
@import "../components/menu/menu.scss";


.wrapper {

    .header {
        // // background: rgb(255, 255, 255);
        // // padding: 30px 0;
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // height: 100%;
        // max-height: 80px;
        // z-index: 999;
    }
    .nav {
        // background: rgb(109, 139, 238);
        // padding: 30px 0;
        // position:absolute;
        // top: 50px;
        // margin-top: 80px;
        // // right: 0;
        // width: 100vw;
        // height: 60px;
    }
    .container-main {
        left: 0;
        right: 0;
        // background-color: aqua;
        background: linear-gradient( #ececec 0.4%, #fff 1.5%);
        .container-general {
            display: flex;
            justify-content: space-between;
            max-width: 1240px;
            margin: 0px auto 0 auto;
            height: 1500px;
            .main-general {
                background: rgb(230, 162, 122);
                max-width: 926px;
                width: 100%;
                margin: 0;
                height: 1500px;
        
            }
            .aside-general {
                background: rgb(1, 21, 133);
                // padding: 30px 0;
                // position:absolute;
                // top: 50px;
                max-width: 295px;
                width: 100%;
                margin: 0;
                height: 1500px;

            }
        }
    }
    .footer {
        background: rgb(45, 63, 121);
        // padding: 30px 0;
        // position:absolute;
        // top: 50px;
        // margin-top: 50px;
        // right: 0;
        width: 100vw;
        height: 150px;
    }
}