.container
    .categoriy 
        span Для кухни
        span Для дома
        span Климатическая техника
        span Телевизоры
        span Для дачи
        span Спортивные товары
        span Автотовары
    .back-call 
        .back-call_button
            span Обратный звонок