.container
    .categoriy 
        a(href="") Для кухни
        a(href="") Для дома
        a(href="") Климатическая техника
        a(href="") Телевизоры
        a(href="") Для дачи
        a(href="") Спортивные товары
        a(href="") Автотовары
    .back-call 
        .back-call__button
            span Обратный звонок